.modal-task{
    background: rgba(0,0,0,.54);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
    &__content{
        position: relative;
        padding: 0.8rem;
        background-color: #f4f5f7 !important;
        top: 25%;
        left: 50%;
        width: 50%;
        color: #42526e;
        transform: translate(-50%,-25%);
    }
    &__close{
        cursor: pointer;
    }
    &__title{
        border: none;
        background-color: #f4f5f7 !important;
        padding: 0.2rem 0.5rem;
        &:focus{
            outline: none;
            box-shadow: inset 0 0 0 2px#0079bf;
            background: #fff;
            border-radius: 4px;
        }
    }
    &__desc{
        margin-bottom: 0 !important;
        &-add{
            display: block;
            margin-left: 2rem;
            width: 94%;
            background-color: rgba(9,30,66,.04);
            box-shadow: none;
            border: none;
            border-radius: 3px;
            display: block;
            min-height: 40px;
            padding: 8px 12px;
            text-decoration: none;
            &:focus{
                background: #fff;
                box-shadow: inset 0 0 0 2px#0079bf !important;
                box-shadow: none;
                min-height: 5rem;
            }
        }
        &-btn{
            margin: 0.5rem 0rem 0.2rem 2rem;
            border: none;
            outline: none !important;
            background-color: #5aac44;
            color: #fff;
            border-radius: 4px;
            padding: 0.1rem 0.4rem;
        }
    }
    &__history{
        outline: none !important;
        background-color: rgba(9,30,66,.04);
        border: none;
        padding:  0.2rem 0.3rem;
        color: #42526e;
    }
    &__avatar{
        width: 35px;
        height: 35px;
        margin-right: 0.2rem;
        border-radius: 50%;
    }
    &__comment{
        @extend .modal-task__desc-btn;
        width: 10%;
        margin-top: 0.5rem;
        margin-left: 0rem;
    }
    &__add-comment{
        @extend .modal-task__desc-add;
        margin: 0;
        width: 100%;
    }
    &__nav{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__add-tag{
        font-size: 0.9rem;
    }
    &__list{
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        padding: 0.3rem 0.3rem;
        background-color: rgba(9,30,66,.04);
        cursor: pointer;
        color: #172b4d;
    }
}
.attachment-thumbnail{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.file-attachment{
    display: flow-root;
    margin-top: 10px;
}